// HOMEPAGE SECTION
main {
    .headerImg {
        width: 100%;
        height: 35vh;

        .caliDish {
            width: 100%;
            .imgContainer {
                width: 100%;
                // height:30vh;
                position: relative;


                img {
                    object-fit: contain;
                    width: 50vw;
                    height:100vh;
                    position: absolute;
                    right: 0px;
                    top: -500px;
                }
            }
        }
    }

    .contactUs {
        padding-bottom: 120px;
        
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            
            .contactOptions {
                width: 50%;
                display: flex;
                flex-direction: row;
    
                .contactIcons {
                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        
                }
    
                .txtContainer {
                    padding: 0 10px 10px 20px;
                }
            }
    
        }
    }

    .food {
        background-color: $secondary;
        height: 100vh;
        width: 100%;
        
        .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            .trySomething {
                width: 42.5%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;

                
                .imgContainer {
                    width: 100%;
                    display: absolute;
                    height: 50%;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: -40px;
                        box-shadow: 25px 25px $primary;
                    }
                }

                .txtContainer {
                    text-align: right;
                    width: 90%;
                    position: relative;
                    height: 50%;
                    padding-top: 40px;

                    h3 {
                        margin-bottom: 10px;
                    }

                    button {
                        margin-top: 40px;
                    }
                }
            }

            .bestBurgers {
                width: 42.5%;

                .txtContainer {
                    width: 90%;
                    position: relative;
                    height: 50%;
                    padding-top: 40px;

                    h3 {
                        margin-bottom: 10px;
                    }

                    button {
                        margin-top: 40px;
                    }
                }

                .imgContainer {
                    width: 100%;
                    display: absolute;
                    height: 50%;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 40px;
                        box-shadow: -25px 25px $primary;
                    }
                }
                
            }
        }
    }

    .giftCard {
        height: 70vh;
        .wrapper {
            height: 100%;
            width: 75%;
            .winGift {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    padding-bottom: 14px;
                }
                button {
                    margin-top: 20px;
                }
            }
        }
    }

    .banner {
        height: 70vh;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }

    .about {
        width: 100%;
        height: 90vh;
        .wrapper {
            height: 100%;

            .aboutNature {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
    
                .imgContainer {
                    width: calc(30% - 40px);
                    padding-right: 40px;
                    img {
                        width: 100%;
                        object-fit: cover;
                        box-shadow: -25px 25px $primary;
                        
                    }
                    
                }

                .txtContainer {
                    width: calc(70% - 40px);
                    padding-left: 40px;

                    h2 {
                        padding-bottom: 10px;
                    }
                    button {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .gallery {
        background-color: $secondary;
        height: 90vh;
        .wrapper {
            height: 100%;

            .galleryPhotos {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                a {
                    width: 33%;
                }
    
                img {
                    width: 100%;
                    padding: 10px;
                }
                
            }
        }
    }

}

// Blog Page Sections

.blogContent {
    width: 100%;
    display: flex;
    flex-direction: row;

    .featuredRestaurants {
        width: 40%;

        .wrapper {
            margin-top: 100px;
            background-color: $secondary;
            position: relative;
            
            
            .imgContainer {
                position: relative;
                width: 110%;
                height: 60vh;
                right: 20%;

                img {
                    position: absolute;
                    width: 100%;
                    height: 60vh;
                    left: 0;
                    object-fit: cover;
                    top: -10%;
                    
                }
            }

            .txtContainer {
                width: 80%;
                margin: 0 auto;
                .featuredTxt {
                    padding-top: 30px;
                    h4 {
                        padding-bottom: 10px;
                    }
                }

                .recentPosts {
                    padding-top: 80px;
                    padding-bottom: 35px;
                    ul {
                        list-style-position: inside;
                        list-style-type: disc;

                        li {
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }

    .employmentOpportunities {
        width: 60%;
        height: 100%;
        margin-left: 20px;
        position: relative;

        .mainBlog {
            border-bottom: 5px solid $primary;
            border-left: 5px solid $primary;

            .imgContainer {
                width: 100%;
                height: 80vh;
                position: relative;
                
                img {
                    width: calc(100% - 20px);
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    right: 0px;
                    top: -100px;
                    box-shadow: -25px 25px $primary;
                }
            }

            .txtContainer {

                position: relative;

                .txtBox {
                    padding: 10px 0 80px 0;

                

                    h2 {
                        padding-bottom: 10px;
                    }

                    p {
                        padding-bottom: 20px;
                    }
                }

            }
        }
            
        .comments { 
            padding-top: 40px;
            .wrapper{
                .commentArea{
                    h3 {
                        padding-bottom: 20px;
                    }
                    .commentSection {
                        width: 100%;
                        display: flex;
                        padding-bottom: 90px;
                        .imgContainer {
                            width: calc(15% - 30px);
                            margin-right: 30px;
                            height: 50%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .txtContainer {
                            width: 85%;
                            h5 {
                                padding-bottom: 10px;
                            }

                        }
                            
                    }

                }
            }

            

        }
    }

}

// Contact Page section

.contact {
    width: 100%;

    .info {
        display: flex;
        flex-direction: row;

        .socialWrapper {
            width: calc(30% - 20px);
            padding-right: 20px;
            .socialIcons {
                padding: 100px 0 20px 0;
                display: flex;
                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    color: $primary;
                    height: auto;
                    width: auto;
                    padding-right: 20px;
                }
                    
            }
            .socialTxt {
                .email {
                    padding-bottom: 40px;
                }
                br {
                    display: block;
                    margin: 3px 0;
                 }

            }
        }

        .contactForm {
            width: 70%;

            form {
                padding: 30px 50px 40px;
                position: relative;
                top: -100px;
                background-color: $secondary;
                box-shadow: 15px 15px $primary;
            }
        }
    }
}