// site fonts
$headingFont: "JosefinSans";
$bodyFont: "Barlow";

// Base size font = 20px
$baseFontSize: 1rem;

// site colours
$solidWhite: #ffff;
$primary: #FFD300;
$secondary: #171B0E;
$tertiary: #2B331B;
$solidBlack: #0F0F0F
