// site fonts
$headingFont: 'Josefin Sans' , sans-serif;
$bodyFont: "Barlow";

// Base size font = 20px
$baseFontSize: 1rem;
$headingSize: 3.5rem;
$secondFontSize: 2.25rem; 
$thirdFontSize: 2rem;
$fourthFontSize: 1.25rem;
$buttonFontSize: 1.12rem;


// site colours
$solidWhite: #ffff;
$primary: #FFD300;
$secondary: #171B0E;
$tertiary: #2B331B;
$solidBlack: #0F0F0F
